<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" language="javascript" src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script defer src="/js/script.js"></script>
    <link rel='stylesheet' href='/css/style.css' />
    <title>Your Favorite Cars | Here's all the Cars</title>
</head>
<a>
    <img class="img3" src="https://mynobe.com/wp-content/uploads/2019/05/car.jpg">
</a>
<body>
    <h4>Cars Ratings
    </h4>
    <table>
        <thead>
            <th>Car Name</th>
            <th>Making Year</th>
            <th>Car Cylinder</th>
            <th>Origin</th>
            <th>Rating</th>
        </thead>
        
        <tbody class="infor">
            
            <% cars.forEach(car => { %>
                <tr>
                    <td><%= car.carName %></td>
                    <td><%= car.makingYear.getFullYear() %></td>
                    <td><%= car.carCylinder %></td>
                    <td><%= car.origin %></td>
                    <td><%= car.rating %></td> 

                </tr>
            <% }) %>
            <a  class="back" href="/">Back to View</a >
           
        </tbody>
    </table>
</body>
</html>